@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar {
    @apply fixed left-1/2 top-5 z-10 mx-auto w-[678px] -translate-x-1/2 cursor-pointer rounded-2xl bg-[#f0f0f070] font-medium shadow-sm backdrop-blur-2xl backdrop-filter md:w-2/3;
  }
  .navbar-col {
    @apply flex-col items-start gap-10;
  }
  .grid-image {
    @apply mb-4 h-[calc(100%-3rem)] w-full rounded-[20px] object-cover lg:h-[576px];
  }
  .grid-caption {
    @apply text-start font-mono text-sm font-medium uppercase text-neutral-400;
  }
  .wrapper {
    @apply mx-auto max-w-[640px] lg:max-w-[928px];
  }
  .title-text {
    @apply text-[67px] font-medium tracking-tight;
  }
  .title-paragraph {
    @apply text-pretty text-[23px] leading-[140%] tracking-tighter text-[rgba(0,0,0,.5)] lg:text-[36px];
  }
  .subtitle {
    @apply text-center font-mono text-sm uppercase text-neutral-500;
  }
  .divider {
    @apply col-span-2 h-[1px] w-full bg-[rgba(0,0,0,.12)];
  }
  .description-grid {
    @apply mb-[88px] grid grid-cols-2 items-center gap-y-12;
  }
  .description-title {
    @apply text-[21px] leading-[120%] text-neutral-900;
  }
  .description-body {
    @apply text-[16px] leading-[140%] text-[rgba(0,0,0,.5)];
  }
}

:root {
  --black: #000;
  --reflex-blue: #001391;
  --white: #fff;
  --alpha100: rgba(0, 0, 0, 0.5);
  --alpha200: rgba(0, 0, 0, 0.12);
  --alpha-reverse200: hsla(0, 0%, 100%, 0.56);
  --alpha-reverse300: hsla(0, 0%, 100%, 0.32);
  --neutral100: #141414;
  --neutral200: #272727;
  --neutral300: #727272;
  --neutral400: #a3a3a3;
  --neutral600: #e6e6e6;
  --neutral700: #f7f7f2;
  --neutral800: #fff;
  --primary100: #1940ff;
  --primary200: #173ae5;
  --primary300: #1534ce;
  --gradient-color1: #e8e0d9;
  --gradient-color2: #e7cdd3;
  --gradient-color3: #cdd5df;
}

::-webkit-scrollbar {
  width: 8px;
}                 

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.5)
}

::-webkit-scrollbar-thumb:window-inactive {
  background: --alpha200;
}

.\@container {
  container-type: inline-size;
}

@keyframes gradient-fade {
  0% {
    background-position: 0 0;
  }

  to {
    background-position: 0 150%;
  }
}

@keyframes gradient-fade--large {
  0% {
    background-position: 0 0;
  }

  to {
    background-position: 0 100%;
  }
}

.bg-gradient {
  --animation-duration: 40s;
  animation: gradient-fade var(--animation-duration) linear infinite alternate;
  background-image: radial-gradient(
    circle,
    var(--gradient-color3),
    var(--gradient-color2),
    var(--gradient-color1)
  );
  background-position: 0 0;
  background-size: 100% 300%;
}

@media (min-width: 990px) {
  .bg-gradient {
    animation-name: gradient-fade--large;
    background-image: linear-gradient(
      var(--gradient-color1),
      var(--gradient-color2),
      var(--gradient-color3),
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
}

@-webkit-keyframes nav-animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes nav-animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes nav-animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes nav-animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.show-box {
  -webkit-animation: nav-animate 6s ease;
  -moz-animation: nav-animate 6s ease;
  -o-animation: nav-animate 6s ease;
  animation: nav-animate 6s ease;
}
